*{
    margin: 0;
    padding: 0;
}
.header-div{
    display: flex;
    align-items: center;
}
.sec-h4{
    background-color: #145E2A;
    display: inline-block;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin-left: 90px;
    margin-right: 250px;
}
.nav{
    color: white;
    display: flex;
    align-items: center;
}
.h4s{
    margin-right: 10px;
}
.img-div{
    width: 75%;
    margin-left: 20px;
    margin-top: 60px;
}
.img-div img{
    border-radius: 25px;
    height: 600px;
}
.text-div{
    border-radius: 20px;
    width: 40%;
    background-color: #145E2A;
    border-bottom: 20px;
    padding: 20px;
    position: absolute;
    right: 20px;
    top: 264px;
    opacity: 0.7;
    font-family: "Dancing Script", cursive;
}
.div-header{
    margin-bottom: 50px;
    color: white;
}
.div-htext{
    margin-bottom: 10px;
    color: white;
}
.text-align{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

}
.text-align h3{
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
}
/* section 2 */
.rec-posts{
    margin-left: 50px;
    color: white;
    padding-top: 20px;
}
.flex-box{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 80px;

}
.card1{
    background-color: #145E2A;
    border-radius: 20px;
    padding: 10px;
    width: 30%;
}
.p-div{
    display: flex;
    justify-content: center;
}
.card1 img{
    border-radius: 20px;
}
.card1 h1{
    padding: 20px 0;
}
.para{
    background-color: white;
    padding: 7px;
    border-radius: 10px;

}
.p-div{
    margin: 20px 0;
}
.img1{
    height: 301px;
}
.img2{
    height: 301px;
}
.img3{
    height: 301px;
}
.divi{

    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: white;
}
.icon1{
    padding: 7px;
    background-color: white;
    border-radius: 100%;
}
.icon-div{
    display: flex;
    justify-content: center;
    margin-top: 50px;

    background-color: #071917;
}
.font-section{
    font-family: "Dancing Script", cursive;
}
.icon-margin{
    margin-right: 10px;
}
/* media */



@media only screen and (max-width: 768px){
    .flex-box{

        flex-direction: column;
    }
    .card1{
        width: 100%;
    }
    .text-div{
        position: static;
    }
}